
.container {
    position: relative;
    text-align: center;
    color: pink;
}

.image {
    height: 200px;
    width: 95%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
    border-style: groove;
}
.centered {
    font-size: large;
    outline: 5px dotted;
    border: 5px;
    border-style: groove;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    color: goldenrod;
  }

  body {
    background-color: aqua;
  }

  nav ul li {
    display: inline-block;
    background-color: aqua;
    color: goldenrod;
    outline: 5px dotted;
    border: 5px;
    border-style: groove;   
}

.about-me {
    margin-top: 200px;
}

.about-me .about-me-title {
    font-size: var(--titleFontSize);
    border: var(--borderStyle);
    background-color: var(--titleBackgroundColor);
    float: inline-start;
}

.about-me .about-me-text {
    font-size: var(--textFontSize);
    border: var(--borderStyle);
    background-color: orange;
    display: block;
    margin-top: 200px;
}

.about-me .program-pic {
    border: var(--borderStyle);
    float: left;
    height: 350px;
}